.landing {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/buildings-690868_1920.jpg');
    }

.form {
    display: flex;
    align-content: center;
}